*{}
h1{text-decoration: underline cyan;}
.header{margin-top: -70px;float:right }
.head{ border-bottom: grey  solid;}
.body{ margin:10px}
p{margin-bottom: 5px;}
.Education{float:right; margin-top:-80px; margin-left: -100px;}